@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');


:root {
    --c1: #7b9c98;
    --c2: #eaf1f3; 
    --c3: #495755;
    --c4: 'Roboto Mono';
    --c5: #698c88;
}

.navbar {
    background-color: var(--c3);
}

html {
    font-family: var(--c4);
    color: var(--c2);
}

a {
    color: var(--c2)
}

body {
    background-color: var(--c1);
}

.row {
margin-left:-5px;
margin-right:-5px;
}

.column {
width: 25%;
padding: 1px;
overflow-y: auto;
}

.column:nth-child(odd){
    float: left;
}

.column:nth-child(even){
    float: left;
}

/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}

table {
border-collapse: collapse;
border-spacing: 0;
width: 25%;
/* border: 2px solid var(--c2); */

}

th, td {
text-align: left;
padding: 16px;
}

tr:nth-child(even) {
background-color: var(--c5);
}

.table {
width: 720px;
height: 720px;
padding: calc(720px / 40);
background-color: #eaf1f3;
}
.board {
width: 100%;
height: 100%;
display: grid;
grid-template-columns: repeat(36, calc(720px / 36));
grid-template-rows: repeat(36, calc(720px / 36));
border-right: 1px solid var(--c5);
border-bottom: 1px solid grey;
background-size: calc(720px / 18) calc(720px / 18);
background-image: linear-gradient(to right, var(--c5) 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}
.star {
width: calc(100% / 4);
height: calc(100% / 4);
border-radius: 50%;
background-color: var(--c5);
align-self: center;
justify-self: center;
z-index: 1;
}
.stone {
border-radius: 50%;
box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 4px 0 rgba(255, 255, 255, 0.25);
z-index: 2;
}
.black {
background: linear-gradient(145deg, #f6cfa6, #000000);
}
.white {
background: linear-gradient(145deg, #f6cfa6, #ffffff);
}