{% extends 'layout.html' %}
{% block body %}
<h1> {{ game.gameName }}</h1>
<div id = 'main'></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.8.0/react.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.8.0/JSXTransformer.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script type="text/javascript" src="board.js"></script>
<script type="text/jsx" src="go.js"></script>
<!-- <div class='table'>
    <div class='board'>
        <div class='star' style='grid-column-start: 6; grid-column-end: 8; grid-row-start: 6; grid-row-end: 8;'></div>
        <div class='star' style='grid-column-start: 6; grid-column-end: 8; grid-row-start: 18; grid-row-end: 20;'></div>
        <div class='star' style='grid-column-start: 6; grid-column-end: 8; grid-row-start: 30; grid-row-end: 32;'></div>
        <div class='star' style='grid-column-start: 18; grid-column-end: 20; grid-row-start: 6; grid-row-end: 8;'></div>
        <div class='star' style='grid-column-start: 18; grid-column-end: 20; grid-row-start: 18; grid-row-end: 20;'></div>
        <div class='star' style='grid-column-start: 18; grid-column-end: 20; grid-row-start: 30; grid-row-end: 32;'></div>
        <div class='star' style='grid-column-start: 30; grid-column-end: 32; grid-row-start: 6; grid-row-end: 8;'></div>
        <div class='star' style='grid-column-start: 30; grid-column-end: 32; grid-row-start: 18; grid-row-end: 20;'></div>
        <div class='star' style='grid-column-start: 30; grid-column-end: 32; grid-row-start: 30; grid-row-end: 32;'></div>
    </div>
</div> -->
{% endblock body %}