{% extends 'layout.html' %}
{% block body %}


<table>
    <caption>Leaderboard</caption>
    <tr>
        <th>Rank</th>    
        <th>Username</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win/Loss Ratio</th>
    </tr>
    {% for user in users %}   
        <tr>
            <td><img src="/static/ranks/silver.png" style="width:25px;height:25px"></td>
            <td>{{user.username}}</td>
            <td>{{user.gamesWon}}</td>
            <td>{{user.gamesLost}}</td>
            {% if user.gamesWon > 0 and user.gamesLost > 0 %}
                <td>{{user.gamesWon / user.gamesLost}}</td>
            {% else %}
                <td>0</td>
            {% endif %}
        </tr>
    {%endfor%}
</table>



{% endblock body %}