{% extends 'layout.html' %}
{% block body %}
{% if session.get('user') %}
<desc>{{ error }}</desc>
<form method='POST' name = 'createlobby' action='/createlobby'>
    <input type = 'text' name = 'lobbyname' placeholder = 'lobby name'>
    <input type = 'submit' class = 'button' value = 'createlobby'>
    <!-- perhaps add the ability to add a password to lobby later on -->
</form>

<table>

    <tr>
        <th>Name</th>
        <th>User Created</th>
    </tr>

{% for game in games %}
<tr>
    <td><a href="/game/{{ game.gameId }}" onclick="return confirm('are you sure?')">{{game.gameName}}</a></td> 
{% for user in users %}
{% if user.game == game.gameId %}
    {% if user.isPlayerOne == True %}
        <td>{{user.username}}</td>
    {% endif %}
{% endif %}
{% endfor %}
{% endfor %}

</tr>
</table> 

{% else %}
{{'must be logged in'}}
{% endif %}
{% endblock body %}

