{% extends 'layout.html' %}
{% block body %}
{% if session.get('user') %}
<desc>{{ error }}</desc>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<div class = "play">

    <meta id="user-data" data-user="{{current_username}}">

    <p>If you are experiencing difficulties receiving game requests, please refresh the page as your browser could be giving you issues</p>
    <div id="responseModal" class="modal">
        <a id="close">X</a>
      <!-- Modal content -->
        <div class="modal-content">
            <h2>Game request from <span id="name"></span></h2>
            <p>you will not recieve any requests until responding to or declining.</p>
            <button type="button" id="user-response-rock" value="rock">Rock</button>

            <button type="button" id="user-response-paper" value="paper">Paper</button>

            <button type="button" id="user-response-scissors" value="scissors">Scissors</button>
        </div>
    </div>
    
    <div id="resultModal" class="modal">
        <p id="close">X</p>
        <!-- Modal content -->
        <div class="modal-content">
            <h1><span id="result"></span></h1>
        </div>
    </div>

    <form>
        <label for="users">User to vs.</label>
        <select name="users" id="users">
        {% for user in users %}
            {% if user.username != current_username %}
                <option value="{{user.username}}">{{user.username}}</option>
            {% endif %}
        {% endfor %}
        </select>
        <label for="choices">Choice</label>
        <select name="choices" id="choices">
            <option value="rock">Rock</option>
            <option value="scissors">Scissors</option>
            <option value="paper">Paper</option>
        </select>
        <button type="button" id="user-selection">Submit</button>
    </form>
    <!-- <button id="send-action">Rock</button> -->
</div>
<script src="/static/js/psr.js"></script>

{% else %}
<h1>must be logged in</h1>
{% endif %}
{% endblock body %}