{% extends 'layout.html' %}
{% block body %}
{% if session.get('user') %}
<form method='POST' name = 'createlobby' action='/createlobby'>
    <input type = 'text' name = 'lobbyname' placeholder = 'lobby name'>
    <input type = 'submit' class = 'button' value = 'createlobby'>
    <!-- perhaps add the ability to add a password to lobby later on -->
</form>

<table>

    <tr>
        <th>Name</th>
        <th>User Created</th>
    </tr>

{% for game in games %}

<tr>
    <td><a href="/game/{{ game.gameId }}">{{game.gameName}}</a></td>  
</tr>

{% endfor %}

</table> 

{% else %}
{{'must be logged in'}}
{% endif %}
{% endblock body %}

